<% flash.each do |message_type, message| %>
  <% if message.present? %>
    <div class="flash-message">
      <div class="alert <%= message_type %>"><%= simple_format message %></div>
    </div>
  <% end %>
<% end %>